{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title  %} Détail Référence {{reference}}   
        
       {% endblock  %} 

{% block page_content %}
 <a href="{{path('client_home')}}" class="mb-3 btn btn-default">Retour à la liste </a>
        
        <table class="datagrid"> 
            <thead>
                <th> Référence</th>
                <th> Désignation</th> 
                <th> Magasin</th>  
                <th> Quantite</th> 
                <th> Nsérie</th>  
                <th> Nlot</th> 
            </thead>
        {% for produit in produits %}
            <tr>
                <td>
                    {{produit.reference}}
                </td>
                <td>
                    {{produit.designation}}
                </td>  
                <td> 
                    {{produit.magasin }} 
                </td> 
                <td>
                    {{produit.qte}}
                </td>  
                <td>
                    {{produit.nserie}}
                </td>  
                <td>
                    {{produit.nlot}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}