<div class="digitalisation_home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="img_digitalisee">
                    <img class="img-fluid" src="{{ asset('assets/images/img_digitaliste.png')}}" alt="Photo digitalisée">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text_digitalisation_home">
                    <h3>Une clinique<span>100% digitalisée</span></h3>
                    <p>
                        Des soins dentaires classiques à la pose d’implants dentaires réalisés avec le plus haut niveau de compétences, en passant par les greffes de gencives ou d’os, la Clinique Dentaire Longchamp vous offre toutes les prestations qui améliorent votre qualité de vie.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="item_digitalisation_home">
                    <div class="content_item_digitalisation_home">
                        <div class="icon_digitalisation_home">
                            <img class="img-fluid icon_digitalisation_home_blanc" src="{{ asset('assets/images/icon_dental_implant_blanc.png')}}" alt="Couronne ou bridge">
                            <img class="img-fluid icon_digitalisation_home_bleu" src="{{ asset('assets/images/icon_dental_implant_bleu.png')}}" alt="Couronne ou bridge">
                        </div>
                        <h4>Couronne ou bridge</h4>
                        <label>en céramique ou en zircon en 24H</label>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_bleu">En savoir</span><samp class="bg_vert"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item_digitalisation_home">
                    <div class="content_item_digitalisation_home">
                        <div class="icon_digitalisation_home">
                            <img class="img-fluid icon_digitalisation_home_blanc" src="{{ asset('assets/images/icon_dental_crown_blanc.png')}}" alt="Bridge fixe complet">
                            <img class="img-fluid icon_digitalisation_home_bleu" src="{{ asset('assets/images/icon_dental_crown_bleu.png')}}" alt="Bridge fixe complet">
                        </div>
                        <h4>Bridge fixe complet</h4>
                        <label>sur implant en 24H</label>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_bleu">En savoir</span><samp class="bg_vert"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item_digitalisation_home">
                    <div class="content_item_digitalisation_home">
                        <div class="icon_digitalisation_home">
                            <img class="img-fluid icon_digitalisation_home_blanc" src="{{ asset('assets/images/icon_tooth_fairy_blanc.png')}}" alt="Édentés complets">
                            <img class="img-fluid icon_digitalisation_home_bleu" src="{{ asset('assets/images/icon_tooth_fairy_bleu.png')}}" alt="Édentés complets">
                        </div>
                        <h4>Édentés complets</h4>
                        <label>retrouvez le sourire en 48 h max!</label>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_bleu">En savoir</span><samp class="bg_vert"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>