<div class="list_questions">
	<div class="container">
		{% if list_questions is not empty %}
			<div class="accordion accordion-flush" id="accordionFlushExample">
				{% for faq in list_questions %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-heading{{faq.id}}">
							<button class="accordion-button {% if faq.titre != list_questions|first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{faq.id}}" aria-expanded="false" aria-controls="flush-collapse{{faq.id}}">
								{{faq.titre}}
							</button>
						</h2>
						<div id="flush-collapse{{faq.id}}" class="accordion-collapse collapse {% if faq.titre == list_questions|first %}show{% endif %}" aria-labelledby="flush-heading{{faq.id}}" data-bs-parent="#accordionFlushExample">
							<div class="answer">
								{{faq.contenu|raw}}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
            <p>{{"Il n'y a aucune question pour l'instant."|trans}}</p>
		{% endif %}
	</div>
</div>